# Cedinord — Variables d'environnement
# Renommez ce fichier en .env et remplissez vos clés
# NE JAMAIS committer le fichier .env sur GitHub !

BREVO_API_KEY=votre_cle_brevo_ici
HUBSPOT_ACCESS_TOKEN=votre_token_hubspot_ici
HUBSPOT_PORTAL_ID=148341127
PORT=3000
